    <div class="container-fluid login-container">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">{{ 'ADM_CREATE_ACCOUNT' | translate }}</h2>
  
                <form>
                  <dx-validation-group #form>
                  <div class="form-outline mb-4">
                    <dx-label text="{{ 'ADM_MOBILE_NUM' | translate }}">
                      <dx-text-box [(value)]="mobileNumber" placeholder="{{ 'ADM_MOBILE_NUM' | translate }}"  class="ltr text-left">   
                        <dx-validator [validationRules]="phoneRules"></dx-validator>                   
                      </dx-text-box>
                    </dx-label>
                  </div>
  
                  <div class="form-outline mb-4">
                    <dx-label text="">
                      <dx-text-box [(value)]="password" placeholder="{{ 'ADM_PASSWORD' | translate }}" mode="password" class="ltr text-left">
                        <dx-validator [validationRules]="passswordRules"></dx-validator>
                      </dx-text-box>
                    </dx-label>
                  </div>
  
                  <div class="form-outline mb-4">
                    <dx-label text="">
                      <dx-text-box [(value)]="confirmPassword" placeholder="{{ 'ADM_CONFIRM_PASS' | translate }}" mode="password" class="ltr text-left">
                        <dx-validator [validationRules]="confirmRules"></dx-validator>
                      </dx-text-box>
                    </dx-label>
                  </div>
  
      
  
                  <div class="d-flex justify-content-center">
                    <button (click)="signup()" class="btn btn-primary btn-lg btn-block">
                      <span *ngIf="isLoading">
                        <i class='fa fa-spinner fa-spin'></i>&nbsp;
                      </span>
                      <span>{{ 'ADM_SIGNUP' | translate }}</span>
                    </button>
                  </div>
  
                  <p class="text-center text-muted mt-5 mb-0">{{ 'ADM_SIGNUP_BEFORE' | translate }} <a href="#" class="fw-bold text-body"><u>{{ 'ADM_LOGIN' | translate }}</u></a></p>
                </dx-validation-group>
                </form>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="login-footer">
      <div class="text-center">
        {{ 'ADM_COPY_RIGHT' | translate }}
      </div>
    </div>
  </div>