<page>
    <page-toolbar helpUrl="http://google.com" [items]="menuItems" (onItemClick)="onMenuItemClick($event)">
    </page-toolbar>
    <page-content>
      <dx-validation-group #form>
        <div class="row">
  
              <div class="col-sm-12">
                <dx-check-box
                [(value)]="editItem.LETTER_NOTE_IS_PUBLIC"
                [width]="180"
                text="{{'PUB_PUBLIC'| translate}}"
                ></dx-check-box>
              </div>
        </div>  
        <div class="row">
  
            <div class="col-sm-12">
                <dx-html-editor [(value)]="editItem.LETTER_NOTE_CONTENT" valueType="html" (valueChange)="valueChange($event)" height="400px">
                  <dxo-toolbar style="background-color: gray;">
                    <dxi-item formatName="undo"></dxi-item>
                    <dxi-item formatName="redo"></dxi-item>
                    <dxi-item formatName="separator"></dxi-item>
                    <dxi-item formatName="size" [formatValues]="['8pt', '10pt', '12pt', '14pt', '18pt', '24pt', '36pt']"></dxi-item>
                    <dxi-item formatName="font" [formatValues]="['Arial', 'Courier New', 'Georgia', 'Impact', 'Lucida Console', 'Tahoma', 'Times New Roman', 'Verdana']"></dxi-item>
                    <dxi-item formatName="separator"></dxi-item>
                    <dxi-item formatName="bold"></dxi-item>
                    <dxi-item formatName="italic"></dxi-item>
                    <dxi-item formatName="strike"></dxi-item>
                    <dxi-item formatName="underline"></dxi-item>
                    <dxi-item formatName="separator"></dxi-item>
                    <dxi-item formatName="alignLeft"></dxi-item>
                    <dxi-item formatName="alignCenter"></dxi-item>
                    <dxi-item formatName="alignRight"></dxi-item>
                    <dxi-item formatName="alignJustify"></dxi-item>
                    <dxi-item formatName="separator"></dxi-item>
                    <dxi-item formatName="color"></dxi-item>
                    <dxi-item formatName="background"></dxi-item>
            </dxo-toolbar>
                    <dxo-media-resizing
                        [enabled]=true>
                    </dxo-media-resizing>
                    
                </dx-html-editor>
            </div>
      </div>          
  
      </dx-validation-group>
    </page-content>
  </page>
  
  