<div class="container">
    <div class="row m-0 rounded">
      <div id="hotels" class="col-12  col-sm-2 col-md-2 col-lg-2 m-0 p-0">
        <div class="p-2 ">
          <img itemprop="image" 
            class="embed-responsive-item lazy " src="{{en.url+item.FILE_PATH}}"              
            alt="" title="" style="filter: none; height: 150px; width: 100%; border-radius: 7px">        
        </div>
      </div>
        
      <div id="hotels" class="col-12 col-sm-2 col-md-2 col-lg-2">
        <div class="p-4 text-right">
           <a target="_blank">{{item.COURSE_CODE}}-{{item.COURSE_NAME}}</a> 
          <div class="row ">
            <div class="col-12">مدرس : {{item.COURSE_LECTURE_NAME}}</div>
          </div>
        </div>
      </div>
      <div id="hotels" class="col-12 col-sm-8 col-md-8 col-lg-8">
        <div class="row p-2">
          <table class="w-100 text-center table">
            <tr>
              <th>{{'EDU_COURSE_DATES'| translate}}</th>
              <th>{{'EDU_COURSE_DAYS_TIME'| translate}}</th>
              <th>{{'EDU_COURSE_EXAM_DATE_TIME'| translate}}</th>
            </tr>

                  <tr>
                    <td>{{item.COURSE_STARTDATE | jalali:'withoutTime'}} <br/> {{item.COURSE_ENDDATE | jalali:'withoutTime'}}</td>
                    <td>{{item.COURSE_BEGINTIME}} <br/> {{item.COURSE_DAYS}} <br/> {{item.COURSE_SESSION_TIME}} دقیقه</td>
                    <td>{{item.COURSE_EXAM_DATE_TIME | jalali:'withoutTime'}} 
                      <br/> {{item.COURSE_EXAM_TIME}} <br/> {{item.COURSE_EXAM_LOCATION}}
                    </td>
                  </tr>

          </table>
          <div class="col-12">
            <div class="p-4 text-right">               
             <div class="row ">
               <div class="col-12">
                <dx-label text="{{ 'EDU_COURSE_DES' | translate }}">
                  <dx-text-area [readOnly]="true" [height]="90" [maxLength]="null" [(value)]="item.COURSE_DES"></dx-text-area>
                </dx-label> 
              </div>
             </div>
           </div>
          </div>
          <div *ngIf="item.COURSE_REGED && item.COURSE_IS_PAYED" class="col-12">  
            <dx-box direction="row" width="100%" [height]="40">
              <dxi-item class="rect demo-dark bg-primary text-white" [ratio]="1">لیست دانلود های دوره </dxi-item>              
            </dx-box>
            
              <div   class="list-container">
                <dx-list [dataSource]="item.Attachments" height="100%">
                  <div *dxTemplate="let item of 'item'">
                    <div class="container-fluid">
                          <div class="row">
                            <!-- <img src="{{ item.ImageSrc }}" /> -->
                            <div class="col">{{ item.FILE_TITLE }}</div>
                            <div class="col">
                              
                              {{item.FILE_NAME}}                    
                                                  
                            </div>
                            <div class="col">
                              <dx-button  (click)="downloadFile(item.FILE_ID)" 
                                text="{{'PUB_DOWNLOAD' | translate}}"
                                type="success" > 
                              </dx-button> 
                            </div>
                            
                          </div>
                      </div>
                  </div>
                </dx-list>
              </div>
                  
          </div>
          <div class="col-12">            
              <div class="p-4 text-right">               
                <div class="row ">
                  <div class="col-6">{{'EDU_COURSE_REMAIN_TEXT'| translate}} 
                    {{item.COURSE_REMAIN_CAPICITY}}
                    <dx-button [disabled]="item.COURSE_REGED && item.COURSE_IS_PAYED" (click)="courseSignup(item.COURSE_ID,item.COURSE_IS_PAYED,item.COURSE_REGED,item.USER_COURSE_ID)" class="w-70 mt-2" 
                          text="{{ (!item.COURSE_REGED && !item.COURSE_IS_PAYED)  ?  ('EDU_COURSE_SIGNUP'| translate ) +(item.COURSE_COST | number)+ ('PUP_CURRENCY_NAME' | translate) 
                           : (item.COURSE_REGED && !item.COURSE_IS_PAYED)? ('EDU_COURSE_PAY'| translate ) +(item.COURSE_COST | number)+ ('PUP_CURRENCY_NAME' | translate) : ('EDU_COURSE_SIGNED_UP'| translate) }}"
                          type="success" > 
                    </dx-button>
                    <p class="bg-danger text-white" *ngIf="item.COURSE_REGED && !item.COURSE_IS_PAYED">ثبت نام شما به صورت موقت انجام شده است لطفا برای قطعی شدن ثبت نام هزینه را پرداخت کنید </p>
                  </div>                        
                  <div *ngIf="item.ExamResult" class="col-6" > 
                                      
                    <div  [class.bg-success]="item.ExamResult[0].USER_COURSE_IS_PASSED==true"
                         [class.bg-danger]="item.ExamResult[0].USER_COURSE_IS_PASSED==false"                         
                          class="p-3 mb-2 bg-secondary text-white text-center">
                        
                      <p style="text-align: center;"> نتیجه آزمون : {{item.ExamResult[0].USER_COURSE_RESULT}} {{item.ExamResult[0].USER_COURSE_SCORE}}</p>                    
                    </div>
                  </div>                                
                </div>
              </div>      
                                                             
        </div>

        </div>
      </div>
    </div>
    <div class="form-group col-12">
      <hr class="new5">
    </div>
  </div>