.dashboard-header {
  background: #1e88e5 !important; }

.date-time-now {
  color: #1e88e5 !important; }

.under-menu .breadcrumb > .active {
  color: #1e88e5 !important; }

.footer {
  background: #1e88e5 !important; }

