$color: #1e88e5;

.dashboard-header {
    background: $color !important;
}

.date-time-now {
    color: $color !important;
}

.under-menu .breadcrumb > .active {
    color: $color !important;
}

.footer {
    background: $color !important;
}
