.dashboard-header {
  background: #00897b !important; }

.date-time-now {
  color: #00897b !important; }

.under-menu .breadcrumb > .active {
  color: #00897b !important; }

.footer {
  background: #00897b !important; }

