<page>
    <page-toolbar helpUrl="http://google.com" [items]="menuItems" (onItemClick)="onMenuItemClick($event,'')">
    </page-toolbar>
    <page-content>
      <div class="row">
        <div class="col-sm-12">
          <grid-toolbar>
            <dx-data-grid #grid  [dataSource]="dataSource" [(selectedRowKeys)]="jasem" (onSelectionChanged)="selectionChangedHandler()"
            (onRowDblClick)="onMenuItemClick('Edit',$event.data.ID)"  [columnAutoWidth]="true" [height]="650">              
              <dxo-sorting mode="multiple"></dxo-sorting>
              <dxo-filter-panel [visible]="true"></dxo-filter-panel>
              <dxo-filter-row [visible]="true"></dxo-filter-row>
              <dxo-scrolling mode="virtual"></dxo-scrolling>
              <dxo-selection mode="single"></dxo-selection>
              
              <dxi-column
              dataField="LETTER_PUB_PRIORITY_ID"
              caption = "{{'OFA_LETTER_PRIORITY'| translate}}"
              [width]="85"
              [allowFiltering]="false"
              [allowSorting]="true"
              cellTemplate="PRIORITYTemplate"
              ></dxi-column>
              <div class="" *dxTemplate="let data of 'PRIORITYTemplate'">
                <i class="{{data.data.PUB_PRIORITY_ICON}} fa-2x "></i>
                <span style="margin: 5px;">{{data.data.PRIORITY_CAPTION}}</span>
              </div> 
              <dxi-column [visible]='this.editItem.LETTER_IN_OUT_TYPE=="in"' [groupIndex]="0" dataField="OWNER_GRP_TXT" groupCellTemplate="groupCellTemplate"></dxi-column>
              <div *dxTemplate="let cellInfo of 'groupCellTemplate'">
                {{cellInfo.value}}
              </div>
              <dxi-column  [visible]='this.editItem.LETTER_IN_OUT_TYPE=="in"' dataField="LETTER_IS_READED"  dataType="boolean" caption="{{'LETTER_IS_READED'| translate}}" [width]="100"></dxi-column>
              <dxi-column  dataField="LETTER_TITEL"   caption="{{'OFA_LETTER_TITEL'| translate}}" [width]="150"></dxi-column>
              <dxi-column [visible]='this.editItem.LETTER_IN_OUT_TYPE=="in"' dataField="LETTER_DATE"  dataType="date" caption="{{'OFA_LETTER_DATE'| translate}}" [width]="100"></dxi-column>
              <dxi-column [visible]='this.editItem.LETTER_IN_OUT_TYPE=="in"' dataField="LETTER_NUMBER"   caption="{{'OFA_LETTER_NUMBER'| translate}}" [width]="100"></dxi-column>
              <dxi-column [visible]='this.editItem.LETTER_IN_OUT_TYPE=="out"' dataField="LETTER_BOOK_NUMBER"   caption="{{'OFA_LETTER_BOOK_NUMBER'| translate}}" [width]="150"></dxi-column>
              <dxi-column [visible]='this.editItem.LETTER_IN_OUT_TYPE=="out"' dataField="LETTER_BOOK_DATE"  dataType="date" caption="{{'OFA_LETTER_BOOK_DATE'| translate}}" [width]="150"></dxi-column>
            
              <dxi-column [visible]='this.editItem.LETTER_IN_OUT_TYPE=="in"' dataField="LETTER_SENDER_CMPN_NAM"  caption="{{'OFA_LETTER_SENDER_CMPN'| translate}}" [width]="200"></dxi-column>
              <dxi-column [visible]='this.editItem.LETTER_IN_OUT_TYPE=="in"' dataField="LETTER_SENDER_SUSR_NAM_USR"   caption="{{'OFA_LETTER_SENDER_USER'| translate}}" [width]="200"></dxi-column>
              <dxi-column  dataField="LETTER_AM_I_ERJA"  dataType="boolean" caption="{{'LETTER_AM_I_ERJA'| translate}}" [width]="150"></dxi-column>

              <dxi-column  dataField="LETTER_CATEGORYS"  caption="{{'LETTER_CATEGORYS'| translate}}" [width]="150"></dxi-column>              
              <dxi-column  dataField="LETTER_CMPNY_RECIVERS"  caption="{{'OFA_LETTER_RECIVER_CMPN'| translate}}" [width]="150"></dxi-column>              
              <dxi-column  dataField="LETTER_NONE_CMPNY_RECIVERS"  caption="{{'OFA_LETTER_RECIVER_CMPN'| translate}}" [width]="150"></dxi-column>              

              <dxi-column
              dataField="this.editItem.id"
              caption = ""
              [width]="110"
              [allowFiltering]="false"
              [allowSorting]="false"
              cellTemplate="cellTemplate"
            ></dxi-column>
              <div *dxTemplate="let data of 'cellTemplate'">
                <dx-button  [width]="120" (click)="onMenuItemClick('Edit',data.data.ID)" [template]="'buttonTemplate'">  
                  <div  *dxTemplate="let data of 'buttonTemplate'">  
                    <!-- <span class="fa fa-paperclip" aria-hidden="true" style="margin: 5px;"></span> -->
                    <span style="margin: 5px;">نمایش نامه</span>                    
                  </div> 
                </dx-button>
              </div>              
            </dx-data-grid>
          </grid-toolbar>
        </div>
      </div>
    </page-content>
  </page>