<page>
    <page-toolbar helpUrl="http://google.com" [items]="menuItems" (onItemClick)="onMenuItemClick($event)">
    </page-toolbar>
    <page-content>
      <div class="row">
        <div class="col-sm-12">
          <grid-toolbar>
            <dx-data-grid #grid  [dataSource]="dataSource" [(selectedRowKeys)]="jasem" (onSelectionChanged)="selectionChangedHandler()"
              [columnAutoWidth]="true" [height]="400">              
              <dxo-sorting mode="multiple"></dxo-sorting>
              <dxo-filter-panel [visible]="true"></dxo-filter-panel>
              <dxo-filter-row [visible]="true"></dxo-filter-row>
              <dxo-scrolling mode="virtual"></dxo-scrolling>
              <dxo-selection mode="single"></dxo-selection>
              <dxi-column  dataField="MSG_SUBJECT"   caption="{{'MSG_SUBJECT'| translate}}" [width]="150"></dxi-column>
              <dxi-column  dataField="MSG_CREATE_DATE_TIME"  dataType="date" caption="{{'MSG_CREATE_DATE'| translate}}" [width]="150"></dxi-column>
            
              <dxi-column  [visible]='this.editItem.MSG_IN_OUT_TYPE=="in"' dataField="RECIVER_READ"  dataType="boolean" caption="{{'MSG_READ'| translate}}" [width]="150"></dxi-column>
              <dxi-column  [visible]='this.editItem.MSG_IN_OUT_TYPE=="out"' dataField="MSG_SENT"  dataType="boolean" caption="{{'MSG_SENT'| translate}}" [width]="150"></dxi-column>
            </dx-data-grid>
          </grid-toolbar>
        </div>
      </div>
    </page-content>
  </page>