.document-accordion{
  .dx-accordion-item-body {
    padding: 8px 12px 0px !important;
}
.dx-datagrid-total-footer > .dx-datagrid-content {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.ax-texteditor-container{
  margin-bottom: 0 !important;
}
}

.transfer-card img{
  width: 170px;
  display: block;
  margin: 10px auto; 
}