<page>
  <page-toolbar helpUrl="http://google.com"
                showHelp="false"
                [items]="menuItems"
                (onItemClick)="onMenuItemClick($event)"></page-toolbar>
  <page-content>
    <div class="row" [hidden]="lessMode">
      <div class="col-sm-4 col-xs-12">
        <dx-label text="{{'نوع اسکیما'|translate}}">
          <dx-lov formCode="LOV-ADM-012"
                  [(value)]="searchItem.SubSystem"
                  [displayMode]="'ComboBox'"
                  (dataChange)="onDataChange($event)"
                  allowClear="true"></dx-lov>
        </dx-label>
      </div>
      <div class="col-sm-4 col-xs-12">
        <dx-label text="{{'نام اینام'|translate}}">
          <dx-lov formCode="LOV-ADM-013"
                  [(params)]="lovFilter"
                  [(value)]="searchItem.EnumName"></dx-lov>

        </dx-label>
      </div>
      <div class="col-sm-4  col-xs-12">
        <dx-button type="default" (onClick)="onSearchClick()" text="واکشی اطلاعات" [width]="400" [height]="37"></dx-button>
      </div>
    </div>
    <grid-toolbar>
      <gt-datasource loadUrl="/ADM/Setup/ReferenceCodes/List" [(loadParams)]="loadParams">
      </gt-datasource>
      <dx-data-grid #grid
                    keyExpr="ID"
                    [height]="520"
                    (onSelectionChanged)="selectionChangedHandler()"
                    [(selectedRowKeys)]="selectedKeys">
        <!--<dxo-remote-operations [paging]="true">
        </dxo-remote-operations>-->
        <dxo-scrolling mode="virtual"></dxo-scrolling>
        <dxo-selection mode="multiple"></dxo-selection>
        <dxo-paging enabled="true"></dxo-paging>
        <dxi-column dataField="SubSystem" caption="{{'نوع اسکیما'| translate}}" width="330"></dxi-column>
        <dxi-column dataField="Field" caption="{{' نام فیلد در api '| translate}}" width="330"></dxi-column>
        <dxi-column dataField="EnumName" caption="{{'نام اینام'| translate}}"></dxi-column>
      </dx-data-grid>
    </grid-toolbar>
  </page-content>
</page>
