<page>
    <page-toolbar helpUrl="http://google.com" showHelp="false" [items]="menuItems" (onItemClick)="onMenuItemClick($event)"></page-toolbar>
    <page-content>
            <div class="row" [hidden]="lessMode">
                    <div class="col-sm-3 col-xs-12">
                      <dx-label text="{{'RPRT_TYP_SRC'|translate}}">
                        <dx-lov formCode="LOV-ADM-002"
                                [(value)]="searchitem.SourceTypeId"
                                [displayMode]="'ComboBox'"
                                (dataChange)="onDataChange($event)"
                                allowClear="true"></dx-lov>
                      </dx-label>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                      <dx-label text="{{'RPRT_COD'|translate}}">
                        <dx-text-box [(value)]="searchitem.Code">
                        </dx-text-box>
                      </dx-label>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                      <dx-label text="{{'RPRT_NAM'|translate}}">
                        <dx-lov formCode="LOV-ADM-010"
                                [(value)]="searchitem.Source"
                                [(params)]="lovFilter"
                                allowClear="true"></dx-lov>
              
                      </dx-label>
                    </div>
                    <div class="col-sm-3  col-xs-12">
                      <dx-button type="default" (onClick)="onSearchClick()" text="واکشی اطلاعات" [width]="400" [height]="37"></dx-button>
                    </div>
                  </div>
                  <div class="margin-10"></div>
                  <div class="row">
                    <div class="col-sm-12">
                      <grid-toolbar>
                        <gt-datasource loadUrl="/ADM/Report/GetAll"
                                       [(loadParams)]="loadParams">
                        </gt-datasource>
                        <dx-data-grid #grid
                                      keyExpr="ID"
                                      [height]="500"
                                      (onSelectionChanged)="selectionChangedHandler()"
                                      [(selectedRowKeys)]="selectedKeys">
                       
                          <dxo-scrolling mode="virtual"></dxo-scrolling>
                          <dxo-selection mode="multiple"></dxo-selection>
                          <dxo-paging enabled="true"></dxo-paging>
                          <dxi-column dataField="Name" caption="{{'RPRT_NAM'| translate}}" ></dxi-column>
                          <dxi-column dataField="Code" caption="{{'RPRT_COD'| translate}}" width="150" ></dxi-column>
                          <dxi-column dataField="SourceType" caption="{{'RPRT_TYP_SRC'| translate}}" width="150"></dxi-column>
                          <dxi-column dataField="Source" caption="{{'RPRT_SRC'| translate}}" width="300"></dxi-column>
                          <dxi-column dataField="Path" caption="{{'RPRT_PATH'| translate}}" width="300"></dxi-column>
                          <dxi-column dataField="FileName" caption="{{'RPRT_FILENAME'| translate}}" width="300"></dxi-column>
                        </dx-data-grid>
                      </grid-toolbar>
                    </div>
                  </div>
    </page-content>


</page>