<page>
    <page-toolbar helpUrl="http://google.com"  >
    </page-toolbar>
    <page-content>
      <div class="row">
        <div class="col-sm-12">
          <grid-toolbar>
            <dx-data-grid #grid  [dataSource]="dataSource" [(selectedRowKeys)]="jasem" (onSelectionChanged)="selectionChangedHandler()"
              [columnAutoWidth]="true" [height]="400">
              <dxo-sorting mode="multiple"></dxo-sorting>
              <dxo-filter-panel [visible]="true"></dxo-filter-panel>
              <dxo-filter-row [visible]="true"></dxo-filter-row>
              <dxo-scrolling mode="virtual"></dxo-scrolling>
              <dxi-column dataField="LETTER_ERJA_CREATE_DATE_TIME"    dataType="date" caption="{{'PUB_CREATE_DATE'| translate}}" [width]="100"></dxi-column>
              <dxi-column dataField="LETTER_ERJA_CREATE_DATE_TIME"    dataType="time" caption="{{'PUB_CREATE_TIME'| translate}}" [width]="80"></dxi-column>
              <dxi-column dataField="SUSR_NAM_USR"  caption="{{'PUB_USER'| translate}}" [width]="80"></dxi-column>
              <dxi-column dataField="CMPN_NAM"  caption="{{'PUB_COMPANY_NAME'| translate}}" [width]="150"></dxi-column>
              <dxi-column dataField="RECIVER_SUSR_NAM_USR"  caption="{{'OFA_LETTER_RECIVER_USER'| translate}}" [width]="150"></dxi-column>
              <dxi-column dataField="RECIVER_CMPN_NAM"  caption="{{'OFA_LETTER_RECIVER_CMPN'| translate}}" [width]="150"></dxi-column>
            </dx-data-grid>
          </grid-toolbar>
        </div>
      </div>


    </page-content>
  </page>